#viewPatients, #viewAppointments, #viewSchedule, #profile{
    display: none;
}

.details{
    cursor: default !important;
}

.view-mode:after{
    border: none!important;
}

#submitBtn{
    display: none;
}

tbody tr:hover{
    cursor: pointer;
}