.btn-type-1, .btn-type-1-error {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 25px;
    transition: 0.5s;
    margin: 10px;
    margin-bottom: 3px;
    color: #fff;
  }
.btn-type-1 {
    background: #50d8af;
    border: 2px solid #50d8af;
  }


.btn-type-1:hover {
    background: none;
    color: #50d8af;
  }

.btn-type-1-error{
    background: #dc3545;
    border: 2px solid #dc3545;
}

.btn-type-1-error:hover {
    background: none;
    color: #dc3545;
}

#register-spinner{
    display: none;
    padding: 10px 0;
}

.spinner{
    color: #50d8af!important;
    font-size: 40px;
}

  .modal-content{
    border: none!important;
  }

  .modal-header-type-1{
    background-color: #50d8af!important;
    }

  .input-type-1-error{
      border: 2px solid #dc3545;
      color: #dc3545!important;
  }
.input-type-1-error:focus{
    border: 2px solid #dc3545;
    box-shadow: 0 4px 8px 0 rgba(220, 53, 69, 0.7), 0 6px 20px 0 rgba(220, 53, 69, 0.19);
}
.input-type-1{
  border: 2px solid #50d8af;
  color: #50d8af!important;
  outline: none;
  opacity: 0.7;
}

.input-type-1:focus{
  border: 2px solid #50d8af;
  box-shadow: 0 4px 8px 0 rgba(80, 216, 175, 0.7), 0 6px 20px 0 rgba(80, 216, 175, 0.19);
}

.text-color-type-1, .hover-color-type-1:hover{
  color: #50d8af;
}

.hover-white-text{
  color:rgba(255,255,255,0.5);
}

.hover-white-text:hover{
  color:rgba(255,255,255,1);
}

.white-text{
  color:white;
}

.border-type-1{
  border: 2px solid #50d8af;
}

.border-type-1-error{
    border: 2px solid #dc3545!important;
}

.bg-color-type-1-error{
    background-color: #dc3545;
    color: #fff;
    border: 2px solid #dc3545!important;
}

.bg-color-type-1{
  background-color: #50d8af;
  color: #fff;
}

.nav-user-data{
  display: none;
}

@media (max-width: 991px) {
  .nav-user-data{
    display: block;
  }
}

.error{
    margin: 0!important;
    font-size: 10px;
}

/* rotatoion ani*/

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}